{% sw_extends '@Parent/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
    {% block page_product_detail_downloads_container %}
        {% if downloads and downloads|length > 0 %}
            <div class="product-detail-downloads tab-pane-container">
                {% block page_product_detail_downloads_title %} {% endblock %}

                {% if downloads is not empty %}
                    {% sw_include '@Storefront/storefront/page/product-detail/acris-downloads/all-downloads.html.twig' with {
                        downloads: downloads
                    }%}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}

    {% block page_product_detail_links_container %}
        {% if config('AcrisProductDownloadsCS.config').linkDisplayPosition == 'inDownloads' and page.product.extensions.acrisLinks.elements and page.product.extensions.acrisLinks.elements|length > 0 %}
            <div class="product-detail-links tab-pane-container">
                {% block page_product_detail_links_title %}
                    <div class="h3 product-detail-links-title">
                        <h3>{{ "detail.acrisProductLinkTitle"|trans }}</h3>
                    </div>
                {% endblock %}

                {% if page.product.extensions.acrisLinks.elements is not empty %}
                    {% sw_include '@Storefront/storefront/page/product-detail/acris-links/all-links.html.twig' with {
                        links: page.product.extensions.acrisLinks.elements
                    }%}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
