{% sw_extends '@Storefront/storefront/layout/navigation/offcanvas/back-link.html.twig' %}

{% block layout_navigation_offcanvas_navigation_category_back_link_text %}
    <div class="container-fluid">
        <div class="row">
            <span class="navigation-offcanvas-link-icon js-navigation-offcanvas-loading-icon">
                {% block layout_utilities_offcanvas_close_icon %}
                    {% sw_icon 'arrow-medium-left' style { 'pack':'solid', 'size': 'sm' } %}
                {% endblock %}
            </span>
            <span itemprop="name">
                {{ "general.back"|trans|sw_sanitize }}
            </span>
        </div>
    </div>
{% endblock %}
