{% block layout_header_actions_location_widget_content %}
<div class="top-bar-nav-item top-bar-location">
    <form method="post"
            class="language-form"
            data-form-auto-submit="true">

            <div class="languages-menu dropdown">
                <button class="btn dropdown-toggle top-bar-nav-btn btn-domain-selector"
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#storeSwitcherModal"
                        >
                    <span class="top-bar-nav-text">
                        <span class="icon earth">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="15" height="15" viewBox="37.216 95 20 20.009"><path fill="#fff" d="m39.47 102.542.368.641c.324.567.855.985 1.484 1.165l2.262.645a1.562 1.562 0 0 1 1.132 1.504v1.56c0 .43.243.82.625 1.012.383.191.625.582.625 1.012v1.524a.917.917 0 0 0 1.168.883 1.842 1.842 0 0 0 1.278-1.32l.11-.438a2.495 2.495 0 0 1 1.183-1.563l.316-.18c.586-.332.945-.958.945-1.63v-.324c0-.497-.199-.973-.55-1.325l-.153-.152a1.875 1.875 0 0 0-1.324-.551h-1.684c-.433 0-.863-.114-1.242-.329l-1.347-.77a.811.811 0 0 1-.36-.437.787.787 0 0 1 .399-.958l.23-.117a1.08 1.08 0 0 1 .832-.059l.906.301a.747.747 0 0 0 .81-1.184l-.532-.637a1.248 1.248 0 0 1 .012-1.614l.613-.715c.344-.403.398-.977.137-1.434l-.094-.164a7.049 7.049 0 0 0-.406-.012c-3.625 0-6.7 2.38-7.743 5.666Zm15.871 2.463c0-1.439-.375-2.79-1.03-3.967l-1 .402c-.614.247-.93.93-.723 1.556l.66 1.981c.136.407.468.715.882.817l1.137.285c.047-.351.07-.711.07-1.074h.004Zm-18.125 0c0-5.526 4.478-10.005 10-10.005 5.523 0 10 4.48 10 10.005s-4.477 10.004-10 10.004c-5.522 0-10-4.48-10-10.004Z" fill="#fff" fill-rule="evenodd" data-name="earth-americas-solid"/></svg>
                        </span>
                        {{ "topBar.location"|trans }}
                    </span>
                </button>
            </div>
    </form>
</div>
{% endblock %}