{% sw_extends '@Storefront/storefront/layout/header/header-minimal.html.twig' %}

{% set customFields = context.salesChannel.translated.customFields %}
{% set customWorkTime = customFields.custom_fields_for_sales_channel_work_time|trans|sw_sanitize %}
{% set customPhone = customFields.custom_fields_for_sales_channel_phone|trans|sw_sanitize %}
{% set customPhoneLink = customFields.custom_fields_for_sales_channel_phone_link|trans|sw_sanitize %}

 {% block layout_header_minimal_contact %}
     <div class="col-md-4 header-minimal-contact">
         <strong>Questions regarding your order?</strong>
         <br />
         <strong>
             <a href="tel:{{ customPhoneLink }}">{{ customPhone }}</a>
         </strong>
         <small>{{ customWorkTime }}</small>
     </div>
 {% endblock %}