{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_header %}
{% endblock %}

{% block utilities_offcanvas_content %}
    {% block page_product_detail_properties_inner %}
        <div class="row product-detail-properties tente-product-detail-properties">
        <div class="col-md-8">
            {% block page_product_detail_properties_container_pdf %}
                <h4 class="product-detail-properties-title">{{ "detail.properties.label.downloads"|trans }}</h4>
                <div class="tente-downloads-container">
                {% if config('AcrisProductDownloadsCS.config').displayPosition != 'noDisplay' and ((page.product.extensions.acrisDownloads.elements and page.product.extensions.acrisDownloads.elements|length > 0) or (config('AcrisProductDownloadsCS.config').linkDisplayPosition == 'inDownloads' and page.product.extensions.acrisLinks.elements and page.product.extensions.acrisLinks.elements|length > 0)) %}

                    {% sw_include '@Storefront/storefront/page/product-detail/acris-downloads/download-tab.html.twig' with {
                        downloads: page.product.extensions.acrisDownloads.elements
                    } %}

                {% endif %}
                </div>
            {% endblock %}
        </div>
        <div class="col-md-4">
            {% block page_product_detail_properties_container_cad %}
                <h4 class="product-detail-properties-title">{{ "detail.cadService.title"|trans }}</h4>
                <div class="tente-downloads-container">
                <p>{{ "detail.cadService.headline"|trans }}</p>

                {% if not context.customer %}
                <p>{{ "detail.cadService.login"|trans({
                        '%url%': path('frontend.account.login' )
                    })|raw }}</p>
                {% else %}

                {% endif %}
                </div>
            {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
